/* 
font-family: 'Rock Salt', cursive;
font-family: 'Lato', sans-serif;
*/

h1 {
    font-family: 'Rock Salt', cursive;
	font-size: 70px;
	margin-bottom: 15px;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
	font-weight: lighter;
	width: 40%;
	margin: auto;
}

strong {
	font-weight: 500;
}

.main {
    width: 50%;
	height: 300px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	margin: auto;
    text-align: center;	
}



html {
	background-image: url("images/brickwall.png");
}