/* 
font-family: 'Rock Salt', cursive;
font-family: 'Lato', sans-serif;
*/

#title {
    font-family: monospace;
	font-size: 50px;
	margin-bottom: 15px;
}

.sub-title {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
	font-weight: lighter;
	margin: auto;
}


.main {
	padding-top: 10%;
	width: 50%;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	margin: auto;
    text-align: center;	
}

#footer-text {
    position: absolute;
	top: 1;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 20px;
    color: #949494;
	background: #66666610;	
}

footer p {
	display: flex;
	justify-content: center;
	margin-bottom: 0px;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
    text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
}


